<!DOCTYPE html>
<html>
    <head>
        <title>Beauty Spot</title> 
        <link rel="icon" type="image/x-icon" href=".././images/myicon.ico">
        <meta name="viewport" content="widthdevice-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Sono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lip_products.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/product.js') }}"></script>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
    </head>
    <body onload="createProdListHTML('lipcare')"> 
        <!-- MainContainer Starts Here -->
        <div id="maincontainer">
            <!-- Header Starts Here-->
            <header>
                <a class="logo" href="/">
                    <img src="{{ url_for('static', filename='images/final-logo.png') }}" alt="logo" title="Logo">
                </a>
                <nav>
                    <ul class="nav-list">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/product">Products</a></li>
                        <li><a href="/about_us">About Us</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                        <li><a href="/chart">Analytics</a></li>
                    </ul>
                </nav>
                <div class="d-flex w-100 align-items-center justify-content-end">
                    <div class="mx-2 mx-sm-3 search w-75">
                        <div class="form-floating my-3">
                            <input type="text" 
                                class="form-control" 
                                id="floatingInput" 
                                placeholder="name@example.com"
                                onkeyup="createProdListHTML(null,event.target.value)" 
                                onkeydown="createProdListHTML(null,event.target.value)">
                            <label for="floatingInput">Search</label>
                          </div>
                    </div>
                    <div class="d-flex justify-content-end px-sm-3 my-2 w-25">
                        <button type="button" class="btn btn-primary pink-btn cart-btn" data-bs-toggle="modal" data-bs-target="#cartList" onclick="generateCartList()">
                            Cart <span class="badge bg-secondary" id="productNumber"></span>
                        </button>
                        <div class="modal fade" id="cartList" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body py-0" id="myCartBody">
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearCart()">Clear Cart</button>
                                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Pay & Checkout</button>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </header>
            <!-- Hearder Ends Here -->
             <!-- Content Starts Here -->
             <div id="content">
                <section class="product-types">
                    <h2>LipCare Essentials</h2>
                    <div class="types">
                        <div class="type-wrapper">
                            <img src="{{ url_for('static', filename='images/lipcare_images/lipliners.png') }}" alt="lipliners" title="lipliners" class="image">
                            <p>Lip Liner</p>
                        </div>
                        <div class="type-wrapper">
                            <img src="{{ url_for('static', filename='images/lipcare_images/lipcomboset.png') }}" alt="lipcomboset" title="lipcomboset" class="image">
                            <p>Lipstick</p>
                        </div>
                        <div class="type-wrapper">
                            <img src="{{ url_for('static', filename='images/lipcare_images/lip_balm.png') }}" alt="lip_balm" title="lip_balm" class="image">
                            <p>Lip Balm</p>
                        </div>
                        <div class="type-wrapper">
                            <img src="{{ url_for('static', filename='images/lipcare_images/lip_mask.png') }}" alt="lip_mask" title="lip_mask" class="image">
                            <p>Lip Mask</p>
                        </div>
                        <div class="type-wrapper">
                            <img src="{{ url_for('static', filename='images/lipcare_images/lip_oil.png') }}" alt="lip_oil" title="lip_oil" class="image">
                            <p>Lip Oil</p>
                        </div>
                    </div>
                </section>
                <section class="popular-products">
                    <h2>Products</h2>
                    <div class="products" id="products">
                    </div>
                </section>
             </div>
             <!-- Content Ends Here -->
             <!-- Footer Starts Here -->
             <footer>
                <div class="footer-promo">
                    <div class="promo-content">
                        <img src="{{ url_for('static', filename='images/Authenticity.png') }}" alt="Authentic" title="authentic" class="icon">
                        <span>100% Authentic</span>
                    </div>
                    <div class="promo-content">
                        <img src="{{ url_for('static', filename='images/free_shipping.png') }}" alt="Free Shipping" title="freeshipping" class="icon">
                        <span>Free Shipping</span>
                    </div>
                    <div class="promo-content">
                        <img src="{{ url_for('static', filename='images/easy_returns.png') }}" alt="Easy Returns" title="easyreturns" class="icon">
                        <span>Easy Return</span>
                    </div>
                    <div class="social-media">
                        <p>show some love on social media</p>
                        <div>
                            <img src="{{ url_for('static', filename='images/insta.png') }}" alt="insta" title="insta" class="social-icon">
                            <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="facebook" title="facebook" class="social-icon">
                            <img src="{{ url_for('static', filename='images/pinterest.png') }}" alt="pinterest" title="pinterest" class="social-icon">
                            <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="twitter" title="twitter" class="social-icon">
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="nav-list">
                        <li>Terms & conditions</li>
                        <li>Shipping Policy</li>
                        <li>Cancelation Policy</li>
                        <li>Privacy Policy</li>
                    </ul>
                </nav>
                <div class="copy-right">
                    <p><span>&copy;</span> 2023 Beauty Spot E-Retail Pvt. Ltd. All Rights Reserved.</p>
                </div>
            </footer>
            <!-- Footer Ends Here -->
        </div>
        <!-- MainContainer Ends Here -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>