<html>
<head><title>Privacy Policy</title></head>
<bpdy>
    This privacy policy covers Beauty Spot’s customer facing operations in the United States and Canada, and applies to the personal information Beauty Spot obtains in various contexts, both online and offline, including when you access or use our websites, native mobile applications (“Beauty Spot Mobile Apps”), or any other applications or services that link to this privacy policy; visit us in our stores, communicate with us; shop with our third-party partners; engage with us on social media; or participate in any of our programs or events.

<p>We may provide different or additional privacy notices in connection with certain activities, programs, and offerings. We may also provide additional “just-in-time” notices that may supplement or clarify our privacy practices or provide you with additional choices regarding your personal information.
</p>

<p>
Our websites may include links to websites and/or applications operated and maintained by third parties. Please note that we have no control over the privacy practices of websites or applications that we do not own. We encourage you to review the privacy practices of those third parties.</bpdy>
</p>
</html>
