<html>
<head><title>Terms and Conditions</title></head>
<bpdy>
    1. When you use our Sites, you agree to our rules. And since they’re our Sites and our rules, we can change them whenever we want.
    2. We work hard making the content on our Sites, so we’re protective of what happens to it. Unless you’re placing an order, engaging in Community, or shopping, you need permission from us to use our content elsewhere.
    3. Like we said in #2, our Site content is ours. Don’t use it in negative or malicious ways, or to advertise products or services we don’t sell.
    4. Our products and samples are for personal use, not for resale. That’s why we have a limit on how much you can purchase of certain products or from certain brands. We’ve taken great care to make sure that the information you read about our products is accurate, but we’re not doctors—we don’t even play doctors on TV. Nothing on our Sites should be interpreted as medical advice. If you have questions about particular products, their ingredients, or their effects, you should talk to a real doctor or health care provider.
    5. Take what other users post with a grain of salt; they may have opinions you disagree with, their reviews may be biased, or they may be having a bad day. Interacting with all the content on our Sites is at your own risk. We’re not responsible for services or products offered by others.
</bpdy>
</html>
